# Airflow 2.2.3 python 3.7 constraints
# https://raw.githubusercontent.com/apache/airflow/constraints-2.2.3/constraints-3.7.txt
apache-airflow==2.2.3
apache-airflow-providers-google==6.2.0
sops==1.18
markupsafe==2.0.1
